/*
 * Use this CSS to learn some intersting techniques,
 * in case you're wondering how I built the UI.
 * Have fun! 😁
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

}

body {
  font-family: 'Poppins', sans-serif;
  color: #333333;
  background: linear-gradient(to top left, #f2d5f5, #d1c5c5);
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  padding: 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.welcome {
  font-size: 1.9rem;
  font-weight: 500;


}

.logo {
  height: 5.25rem;


}

.login {
  display: flex;
}

.login__input {
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  font-family: inherit;
  text-align: center;
  width: 12rem;
  border-radius: 10rem;
  margin-right: 1rem;
  color: inherit;
  border: 1px solid #fff;
  transition: all 0.3s;
}

.login__input:focus {
  outline: none;
  border: 1px solid #ccc;
}

.login__input::placeholder {
  color: #bbb;
}

.login__btn {
  border: none;
  background: none;
  font-size: 2.2rem;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s;
}

.login__btn:hover,
.login__btn:focus,
.btn--sort:hover,
.btn--sort:focus {
  outline: none;
  color: #777;
}

/* MAIN */
.app {
  position: relative;
  max-width: 100rem;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: auto repeat(3, 15rem) auto;
  gap: 2rem;

  /* NOTE This creates the fade in/out anumation */
  opacity: 0;
  transition: all 1s;
}

.balance {
  grid-column: 1 / span 2;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.balance__label {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: -0.2rem;
}

.balance__date {
  font-size: 1.4rem;
  color: #888;
}

.balance__value {
  font-size: 4.5rem;
  font-weight: 400;
}

/* MOVEMENTS */
.movements {
  grid-row: 2 / span 3;
  background-color: #fff;
  border-radius: 1rem;
  overflow: scroll;
}

.movements__row {
  padding: 2.25rem 4rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.movements__type {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  padding: 0.1rem 1rem;
  border-radius: 10rem;
  margin-right: 2rem;
}

.movements__date {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #666;
}

.movements__type--deposit {
  background-image: linear-gradient(to top left, #1403ff, #03b8ff);
}

.movements__type--withdrawal {
  background-image: linear-gradient(to top left, #e7033c, #fa7e84);
}

.movements__value {
  font-size: 1.7rem;
  margin-left: auto;
}

/* SUMMARY */
.summary {
  grid-row: 5 / 6;
  display: flex;
  align-items: baseline;
  padding: 0 0.3rem;
  margin-top: 1rem;
}

.summary__label {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 0.8rem;
}

.summary__value {
  font-size: 2.2rem;
  margin-right: 2.5rem;
}

.summary__value--in,
.summary__value--interest {
  color: #1030bd;
}

.summary__value--out {
  color: #f8102f;
}

.btn--sort {
  margin-left: auto;
  border: none;
  background: none;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
}

/* OPERATIONS */
.operation {
  border-radius: 1rem;
  padding: 3rem 4rem;
  color: #333;
}

.operation--transfer {
  background-image: linear-gradient(to top left, #1403ff, #03b8ff);
}

.operation--loan {
  background-image: linear-gradient(to top left, #b3398a, #f093f3);
}

.operation--close {
  background-image: linear-gradient(to top left, #e7033c, #fa7e84);
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: #333;
}

.form {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  grid-template-rows: auto auto;
  gap: 0.4rem 1rem;
}

/* Exceptions for interst */
.form.form--loan {
  grid-template-columns: 2.5fr 1fr 2.5fr;
}

.form__label--loan {
  grid-row: 2;
}

/* End exceptions */

.form__input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: inherit;
  font-size: 1.5rem;
  text-align: center;
  color: #333;
  padding: 0.3rem 1rem;
  border-radius: 0.7rem;
  transition: all 0.3s;
}

.form__input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
}

.form__label {
  font-size: 1.3rem;
  text-align: center;
}

.form__btn {
  border: none;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.form__btn:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
}

.logout-timer {
  padding: 0 0.3rem;
  margin-top: 1.9rem;
  text-align: right;
  font-size: 1.25rem;
}

.timer {
  font-weight: 600;
}

/* //////// /////////////////////////////////////////////////////////////////////////*/
@media screen and (min-width: 320px) and (max-width: 510px) {

  body {
    padding: .7rem;
  }

  nav {
    padding: 0 .5rem;
  }



  .welcome {
    font-size: 1.2rem;
    font-weight: 300;
  }

  .logo {
    height: 3.25rem;
  }


  .login__input {
    border: none;
    padding: 0.1rem .7rem;
    font-size: 1.2rem;
    font-family: inherit;
    text-align: center;
    width: 5rem;
    border-radius: 5rem;
    margin-right: 1rem;
    color: inherit;
    border: 1px solid #fff;
    transition: all 0.3s;
  }

  .login__input:focus {
    outline: none;
    border: 1px solid #ccc;
  }

  .login__input::placeholder {
    color: #bbb;
  }

  .login__btn {
    border: none;
    background: none;
    font-size: 1rem;
    color: inherit;
    cursor: pointer;
    transition: all 0.3s;
  }

  .login__btn:hover,
  .login__btn:focus,
  .btn--sort:hover,
  .btn--sort:focus {
    outline: none;
    color: #777;
  }

  .app {
    position: relative;
    max-width: 50rem;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: auto repeat(3, 10rem) auto;
    gap: .5rem;

    /* NOTE This creates the fade in/out anumation */
    opacity: 0;
    transition: all 1s;
  }

  .balance {
    grid-column: 1 / span 2;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: .5rem;
  }

  .balance__label {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: -0.2rem;
  }

  .balance__date {
    font-size: 1rem;
    color: #888;
  }

  .balance__value {
    font-size: 2rem;
    font-weight: 400;
  }

  /* MOVEMENTS */
  .movements {
    grid-row: 2 / span 3;
    background-color: #fff;
    border-radius: 1rem;
    overflow: scroll;
  }

  .movements__row {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
  }

  .movements__type {
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;
    padding: 0rem .5rem;
    border-radius: 5rem;
    margin-right: .5rem;
  }

  .movements__date {
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 300;
    color: #666;
  }


  .movements__value {
    font-size: 1rem;
    margin-left: auto;
  }

  /* SUMMARY */
  .summary {
    grid-row: 5 / 6;
    display: flex;
    align-items: baseline;
    padding: 0 0.3rem;
    margin-top: 1rem;
  }

  .summary__label {
    font-size: .8rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-right: 0.2rem;
  }

  .summary__value {
    font-size: .8rem;
    margin-right: 1rem;
  }



  .btn--sort {
    margin-left: auto;
    border: none;
    background: none;
    font-size: .9rem;
    font-weight: 300;
    cursor: pointer;
  }

  /* OPERATIONS */
  .operation {
    border-radius: 1rem;
    padding: 1rem 1.1rem;
    color: #333;
  }



  h2 {
    margin-bottom: .9rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: #333;
  }

  .form {
    display: grid;
    grid-template-columns: 2.5fr 2.5fr 1fr;
    grid-template-rows: auto auto;
    gap: 0.4rem 1rem;
  }

  /* Exceptions for interst */
  .form.form--loan {
    grid-template-columns: 2.5fr 1fr 2.5fr;
  }

  .form__label--loan {
    grid-row: 2;
  }

  /* End exceptions */

  .form__input {
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0.4);
    font-family: inherit;
    font-size: 1.1rem;
    text-align: center;
    color: #333;
    padding: 0.1rem 0rem;
    border-radius: 0.5rem;
    transition: all 0.3s;
  }

  .form__input:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.6);
  }

  .form__label {
    font-size: .8rem;
    text-align: center;
  }

  .form__btn {
    border: none;
    border-radius: 0.2rem;
    font-size: 1.2rem;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s;
  }

  .form__btn:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.8);
  }

  .logout-timer {
    padding: 0 0.1rem;
    margin-top: 1.1rem;
    text-align: right;
    font-size: .8rem;
  }

  .timer {
    font-weight: 600;
  }

}

/* //////// /////////////////////////////////////////////////////////////*/
@media screen and (min-width: 511px) and (max-width: 800px) {

  body {

    padding: 1.2rem;
  }

  nav {

    padding: 0 1.2rem;
  }

  .welcome {
    font-size: 1.5rem;
    font-weight: 500;


  }

  .logo {
    height: 4.25rem;


  }

  .login {
    display: flex;
  }

  .login__input {
    border: none;
    padding: 0.2rem 1rem;
    font-size: 1.4rem;
    font-family: inherit;
    text-align: center;
    width: 10rem;
    border-radius: 8rem;
    margin-right: .8rem;
    color: inherit;

    transition: all 0.3s;
  }

  .login__input:focus {
    outline: none;
    border: 1px solid #ccc;
  }

  .login__input::placeholder {
    color: #bbb;
  }

  .login__btn {
    border: none;
    background: none;
    font-size: 2rem;
    color: inherit;
    cursor: pointer;
    transition: all 0.3s;
  }

  .login__btn:hover,
  .login__btn:focus,
  .btn--sort:hover,
  .btn--sort:focus {
    outline: none;
    color: #777;
  }

  /* MAIN */
  .app {
    position: relative;
    max-width: 80rem;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: auto repeat(3, 13rem) auto;
    gap: 1.2rem;

    /* NOTE This creates the fade in/out anumation */
    opacity: 0;
    transition: all 1s;
  }

  .balance {
    grid-column: 1 / span 2;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 1.2rem;
  }

  .balance__label {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: -0.2rem;
  }

  .balance__date {
    font-size: 1.2rem;
    color: #888;
  }

  .balance__value {
    font-size: 4.1rem;
    font-weight: 400;
  }

  /* MOVEMENTS */
  .movements {
    grid-row: 2 / span 3;
    background-color: #fff;
    border-radius: 1rem;
    overflow: scroll;
  }

  .movements__row {
    padding: 1.7rem 3rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
  }

  .movements__type {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    padding: 0.1rem .9rem;
    border-radius: 10rem;
    margin-right: 2rem;
  }

  .movements__date {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #666;
  }



  .movements__value {
    font-size: 1.5rem;
    margin-left: auto;
  }

  /* SUMMARY */
  .summary {
    grid-row: 5 / 6;
    display: flex;
    align-items: baseline;
    padding: 0 0.2rem;
    margin-top: .8rem;
  }

  .summary__label {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-right: 0.5rem;
  }

  .summary__value {
    font-size: 2rem;
    margin-right: 2rem;
  }


  .btn--sort {
    margin-left: auto;
    border: none;
    background: none;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
  }

  /* OPERATIONS */
  .operation {
    border-radius: 1rem;
    padding: 2rem 3rem;
    color: #333;
  }



  h2 {
    margin-bottom: 1.3rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
  }

  .form {
    display: grid;
    grid-template-columns: 2.5fr 2.5fr 1fr;
    grid-template-rows: auto auto;
    gap: 0.2rem .5rem;
  }

  /* Exceptions for interst */
  .form.form--loan {
    grid-template-columns: 2.5fr 1fr 2.5fr;
  }

  .form__label--loan {
    grid-row: 2;
  }

  /* End exceptions */

  .form__input {
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0.4);
    font-family: inherit;
    font-size: 1.3rem;
    text-align: center;
    color: #333;
    padding: 0.1rem .8rem;
    border-radius: 0.5rem;
    transition: all 0.3s;
  }

  .form__input:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.6);
  }

  .form__label {
    font-size: 1.1rem;
    text-align: center;
  }

  .form__btn {
    border: none;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s;
  }

  .form__btn:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.8);
  }

  .logout-timer {
    padding: 0 0.3rem;
    margin-top: 1.5rem;
    text-align: right;
    font-size: 1rem;
  }

  .timer {
    font-weight: 600;
  }

}